SERVER_URL=http://localhost:3000/
SERVER_PORT=3000

KC_CLIENT_ID=
KC_CLIENT_SECRET=
KC_CLIENT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n<PUBLIC_KEY>\n-----END PUBLIC KEY-----"
KC_ISSUER_URL=
KC_AUTH_URL=
KC_TOKEN_URL=
KC_USER_INFO_URL=
KC_LOGOUT_URL=
